
<h1> <%= @user.name %>'s Profile</h1>

<p> View your current tournament entries: <%= link_to "View My Register!", registrations_path %> </p>
<br>

<p> View your current tournament pools: <%= link_to "View My Pools!", pools_path %> </p>
<br>
<p> If you have not registered click here:
<%= link_to "Register!", new_registration_path %> </p>