<h1>My Profile</h1>

<p>Name: <%= @user.name %></p>
<!-- <p>Password: <%= @user.password %></p> -->

<!-- display registrations on user profile or add link to 'View my Registrations!' -->



<%= link_to "Register!", new_registration_path %> 
